* {
    font-size: 1rem;
    color: white;
}
body {
    background-color: rgb(43, 70, 70);
}
h1 {
    font-size: 4rem;
    text-align: center;
}
h2 {
    font-size: 3.5rem;
    text-align: start;
    font-weight: bold;
}
h3 {
    font-size: 2.5rem;
    text-align: start;
    font-weight: bold;
}
/* Navbar */
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    font-size: 1.2rem;
    list-style: none;
    padding: 1rem;
    margin: 0;
}
.navigation a {
    text-decoration: none;
}
.navigation li {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5px;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}
/* Hero */
.hero {
    display: flex!important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 600px;
    padding: 2rem;
    border: 1px solid white;
    border-radius: 30px;
}
.img {
    width: 200px;
    border-radius: 30px;
}
/* Experiencia */
.experiencia-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}